
.flexBox{
	display:flex;
	flex-wrap:wrap;
}

table,th,tr,td{
	border:solid thin;
	border-collapse:collapse;
}

#R119MapBox{
	position:relative;
}

.HinBassPoint{
	width:16px;
	height:16px;
	background:#ff0000c0;
	/*border-radius:8px;*/
	position:absolute;
	top:0px;
	left:0px;
}